@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
}
p{
    margin-bottom: 0;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
h3{
    font-size: 17px;
    padding-top: 40px;
}
.nav{
    font-size: 12px;
    font-weight: 300;
    background-color: #272729;
    ul{
        list-style: none;
        margin-bottom: 0;
        .nav__item{
            color: #ddd;
            a{
                text-decoration: none;
                color: #ddd;
            }
        }
    }
}
.header{
    height: 52px;
    a{
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        color: #272729;
    }
}
.header_aside{
    background-color: #eee;
    p{
        line-height: 60px;
        font-size: 12px;
    }
}
.main{
    max-width: 1200px;
    .aside_img{
        width: 40%;
        // margin-left: auto;
        padding-top: 40px;
        position: sticky;
        top: 52px;
        img{
            width: 100%;
        }
    } 
    .main_side{
        padding-top: 40px;
        width: 40%;
        // margin-right: auto;
        .outward{
            .outward__button{
                font-size: 12px;
                border-radius: 10px;
                border: 1px solid #ccc;
                width: 48%;
                &:hover{
                    border-color: #272729;
                }
                .btn_container{
                    padding: 20px 14px;
                    p{
                        margin-bottom: 0;
                    }
                }
                img{
                    width: 32px;
                }
            }
        }
    }
}
.section{
    .remind{
        border: none;
        border-radius: 10px;
        font-size: 10px;
    }
    .btn_group{
        button{
            height: 106px;
            border-radius: 10px;
            border: 1px solid #ccc;
            &:hover{
                border-color: #272729;
            }
            .btn_container{
                padding: 15px;
                .txt_main{
                    font-size: 30px;
                }
            }
        }
        .btn_price{
            font-size: 12px;
            font-weight: 300;
            color: #272729;
        }
    }
}
.wifi{
    .txt_main_wifi{
        font-size: 17px;
    }
}
.price{
    background-color: #eee;
    .totalPrice{
        font-size: 30px;
        color: #272729;
    }
    p:nth-child(2){
        font-size: 12px;
        color: #272729;
    }
}